.rewrite-pwd-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 50%;
    height: 400px;
    background-color: var(--primary-color)
}

.input-container {  
    width: 100%;
    padding: 10px;
}

.new-pass-container{
    width: 100%;
}

.confirm-pass-container{
    padding-top: 20px;
}

.new-and-confirm-pass-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.form-rewrite-pwd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

.rewrite-pwd-container-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    padding-top: 60px;
    background-color: var(--primary-color)
}

.rewrite-pwd-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-weight: 600;
}